.box-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4rem;
  align-items: center;
  margin: 100px auto 0; 
  max-width: 1300px;
  width: 100%;
}

.login-box {
  background: white;
  padding: 50px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-box h3 {
  margin-bottom: 1.5rem;
  color: gray;
}

input {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  width: 100%;
}

.btn-login {
  background-color: #6366f1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 105%;
}

.btn-login:hover {
  background-color: #4f46e5;
}

.signup-link {
  margin-top: 10px;
  font-size: 0.9em;
}