body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #cdcae0; 
  color: #2C3E1F; 
}

.navbar {
  background-color: #b5aeec; 
  display: flex;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.nav-page {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-page ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.nav-page a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-page a:hover {
  color: #b5aeec; 
}

.nav-buttons {
  margin-left: auto; 
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn-login {
  background-color: white;
  color: #2d2fad;
  border: 2px solid #b5aeec; 
}

.btn-login:hover {
  background-color: #8f85d9;
  color: white;
}

.btn-signup {
  background-color: white; 
  color: #2d2fad;
  border: 2px solid #b5aeec;
}

.btn-signup:hover {
  background-color: #8f85d9;
  color: white;
}

