body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #cdcae0; 
  color: #2C3E1F; 
}

.navbar {
  background-color: #b5aeec; 
  display: flex;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.nav-page {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-page ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.nav-page a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-page a:hover {
  color: #2d2fad; 
}

.nav-buttons {
  margin-left: auto; 
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn-log {
  background-color: white; 
  color: #2d2fad;
  border: 2px solid #b5aeec;
}

.btn-log:hover {
  background-color: #8f85d9;
  color: white;
}

.btn-add {
  background-color: #2d2fad; 
  color: white;
  border: 2px solid #b5aeec;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.search-bar {
  align-items: center;
  padding: 5px;
}

.search-bar i {
  position: absolute;
  left: 20px;
  top: 11%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
}

.search-bar input[type="text"] {
  float:left;
  padding: 6px 12px 8px 35px;
  border: none;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 17px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 1rem;
  margin: 50px auto 0; 
  max-width: 1300px;
  width: 100%;
}

