<link rel="stylesheet" href="{{url_for('static', filename='aboutus.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">


<div class="aboutus-box">
    <div class="aboutus-header">
        <i class="fa-regular fa-calendar"></i>
        <h1 class="aboutus-title">GatherUp</h1>
    </div>

    <h2 class="aboutus-subtitle">Share Availability, Stay Connected</h2>
    <p class="aboutus-descrip">
        Efficient, rapid, and reliable platform for sharing your schedule and staying aware of the best time to contact
        others.
    </p>

    <div class="aboutus-features">
        <div class="aboutus-feature">
            <i class="fas fa-user-friends"></i>
            <div>
                <h3>Group-Based Sharing</h3>
                <p>Control who sees your schedule by organizing contacts into friends, coworkers, and custom groups.</p>
            </div>
        </div>
        <div>
            <i class="fa-regular fa-bell"></i>
            <div>
                <h3>Automatic Notifications</h3>
                <p>Stay updated when your contacts change their availability — no more missed messages.</p>
            </div>
        </div>

        <div>
            <i class="fa-regular fa-clock"></i>
            <div>
                <h3>Time Management</h3>
                <p>Visualize and categorize your tasks to better manage your work-life balance.</p>
            </div>
        </div>
    </div>
</div>