<!DOCTYPE html>
<html>
    <head>
        <title> Testing Page</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        {% include 'navbar.html'%}
        <h1>Gemini Response below</h1>
        {{ text }}

        <form action = "/demo" method = "POST">
            <button class="btn btn-login" type = "submit">Create Schedule</button> 
        </form>

        <br>
        <br>
            
        <form class="search-bar" method= "POST" action="/addViewer">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name = "friend" placeholder="      Search ...">
            <br>
            <button class="btn btn-add" type = "submit">Add</button> 
        </form>

    </body>
</html>