<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    </head>
    <body>
        {% include 'navbar.html' %}

        <div class="friend-grp"></div>
        <div class="friend"></div>
        <div class="calendar"></div>

        {%  if friendList %}
            <ul>
            {% for friend in friendList %}
              <li>
                  {{ friend }} -
                  <a href="{{ url_for('friend_schedule', friend_username=friend) }}">View Schedule</a>
            </li>
            {% endfor %}
            </ul>
        
            {% else %}
        <p>No friends yet!</p>
        {%  endif%}

    </body>
</html>
