<!DOCTYPE html>
<html>

<head>
    <title>Gather up Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">

</head>

<body>
    <div class="box-wrapper">
        {% include "aboutus.html" %}
        <div class="login-box">
            <h1>Welcome to Gather Up</h1>
            <h3>Sign in or create an account to get started</h3>
            <form action="/loginhere" method="POST" class="login-form">
                <label for="username">Username</label>
                <input type="text" name="username" required>

                <label for="pwd">Password</label>
                <input type="text" name="password" required>
                <button class="btn btn-login" type="submit" value="Login"> Login here</button>
            </form>

            <p class="signup-chose">
                Don't have an account? <a href="{{url_for('signup')}}">Sign up here</a>
            </p>

        </div>
    </div>
</body>

</html>