<!DOCTYPE html>
<html>
    <head>
        <title>Gather up Login</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    </head>
    <body>
        <h1>Gather UP login here</h1>
        <form action = "/loginhere" method = "POST">
            <input type = "text" name = "username"><br>
            <input type = "text" name = "password"> <br>
            <button class="btn btn-login" type = "submit" value = "Login"> Login here</button>
            <br>
            <br>
            <a class="btn btn-signup" href = "{{ url_for('signup')}}" >Signup</a>

        </form>
    </body>
</html>