<!DOCTYPE html>
<html>
    <head>
        <title> Schedules</title>
        <link rel="stylesheet" href="{{url_for('static', filename='schedule.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    </head>
    <body>
        {% include 'navbar.html'%}

        <br>

        <div class="content"><h1>My Schedule Below </h1></div>


        <div class = 'content'>
        {% for activity in mySchedule %}
            <div class = "card">
                <h3>Activity {{activity['Activity Number'] }}</h3>
                <p><strong>Description:</strong> {{ activity['Description'] }}</p>
                <p><strong>Time:</strong> {{ activity['Time Period'] }}</p>

                <form action="/removeActivity" method="POST" style="display:inline;" 
                      onsubmit="return confirm('Are you sure you want to delete this activity?');">
                    <input type="hidden" name="activity" value="{{ activity['Activity Number'] }}">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
                
            </div>
        {% endfor %}
        </div>


    </body>
</html>
